*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  height: 670px;
  background:linear-gradient(
    to top,
    #DBDBD3 80%,
    #009688 20%
  );
}

.container{
  max-width: 990px;
  height: 663px;
  margin: 15px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-contatti{
  width: 30%;
}

.col-messaggi{
  width: 70%;
}

.card{
  height: 70px;
  display: flex;
  flex-direction: row;
}


.top-bar,
.bottom-bar{
  height: 50px;
  background-color: #EAEAEA;
}

.notification{
  height: 65px;
  background-color: #8EDAFC;
}

.input{
  height: 45px;
  background-color: #EAEAEA;
}

.chat{
  height: 100%;
  background-image: url(/assets/img/mine.jpg);
}

/* DEBUG */
.debug,.card{
  border: 1px solid black;
  min-height: 50px;
}

img{
  width: 40px;
  height: 40px;
}



/* RESPONSIVE */

@media screen and (max-width: 992px){
  .card-text{
    display: none;
  }
  
}


@media screen and (max-width: 542px){
  .col-messaggi{
    width: 100%;
  }
  .col-contatti{
    display: none;
  }
}



